@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: #E5E5E5;
}
.sidebar{
	position: fixed;
	top: 66px;
	left: 57px;
	width: 333px;
}
.wrapper .sidebar .profile{
    background-color: #A65E46;
	/* margin-bottom: 29px; */
	text-align: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.wrapper .sidebar .profile .svg_sty{
    margin-left: 44px;
}

.wrapper .sidebar .profile .saurabh{
    margin-left: 30px;
}

.wrapper .sidebar .profile h3{
	color: #ffffff;
	margin: 30px 0;
}

.wrapper .sidebar ul{
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
}

.wrapper .sidebar ul li a{
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid #000000;
	color:#000000;
	font-size: 16px;
	position: relative;
}
/* .wrapper .sidebar ul li a .icon{
	color: #dee4ec;
	width: 30px;
	display: inline-block;
} */

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	background:#F1D2B6;
}
/* .wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
	color: #0c7db1;
}
.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
} */

.wrapper{
    margin-top: 66px;
    margin-right: 57px;
}

.wrapper .section{
	width: calc(100% - 390px);
	margin-left: 390px;
	transition: all 0.5s ease;
}
.wrapper .section .top_navbar{
	background: #A65E46;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 30px;
}
.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #f4fbff;
}
.wrapper .section .top_navbar .hamburger a:hover{
	color: #ffffff;
}

body.active .wrapper .sidebar{
	left: -390px;
}
body.active .wrapper .section{
	margin-left: 0;
	width: 100%;
}