body {
    background-color: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}


/* Col-md-4 */

.margin_5main {
    margin-top: 66px;
    padding: 0 57px;
}

.sidebar {
    width: 333px;
}

.svg_sty {
    margin-right: 30px;
}

.sidebar .header {
    background-color: #A65E46;
    display: flex;
    align-items: center;
    width: 333px;
    height: 65px;
    padding-left: 44px;
    /* padding-right: 30px; */
}

.sidebar .header h2 {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 240px;
    user-select: none;
    margin-bottom: 0px;
}

.sidebar ul {
    padding: 0%;
}

.sidebar ul a {
    display: block;
    height: 63px;
    width: 100%;
    line-height: 40px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    padding-left: 44px;
    border-left: 1px solid #07203F;
    border-right: 1px solid #07203F;
    border-bottom: 1px solid #07203F;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.sidebar ul a:hover {
    background-color: #F1D2B6;
}

@media(min-width:320px) and (max-width:450px) {
    .margin_5main {
        margin-top: 10px;
        padding: 0%;
        width: 100%
    }
    .sidebar {
        width: 100%;
    }
    .header {
        width: 100% !important;
    }
}


/* Content */

.container-fluid {
    display: flex;
    justify-content: space-between;
}

.content {
    /* padding-right: 57px; */
    width: 920px;
}

.content_heading {
    background-color: #A65E46;
    /* width: 908px; */
    height: 65px;
    align-items: center;
    flex-flow: row wrap;
    display: flex;
}

.content_heading h2 {
    font-size: 16px;
    color: #E5E5E5;
    font-weight: 400;
    line-height: 24px;
    /* background-color:#A65E46; */
    user-select: none;
    margin-bottom: 0px;
    padding-left: 39px;
}

.only-border {
    border: 1px solid #07203F;
}

.input_name {
    padding-top: 49px;
}

form {
    padding: 0 42px;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #07203F;
    margin: 20px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 40%;
    left: 5px;
    color: #07203F;
    transform: translateY(-50);
    font-size: 16px;
    pointer-events: none;
    transition: 0.95s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: #A65E46;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -10px;
    color: #07203F;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.btn {
    cursor: pointer;
    margin-top: 56px;
    margin-bottom: 10%;
}

#save_button {
    color: #FFFFFF;
    background-color: #07203F;
    width: 16%;
    border-radius: 10px;
    font-size: 21px;
    margin-right: 8%;
}

#edit_button {
    color: #FFFFFF;
    background-color: #D9AA90;
    width: 16%;
    border-radius: 10px;
    font-size: 21px;
}

@media(min-width:320px) and (max-width:800px) {
    .container-fluid {
        display: grid;
    }
    .content {
        width: 94vw;
        margin-top: 10%;
    }
    .tabs {
        text-align: center;
    }
    #save_button {
        width: 32%;
        font-size: 17px;
        margin-right: 20%;
    }
    #edit_button {
        width: 32%;
        font-size: 17px;
    }
}